@font-face {
    src: url("fonts/Poppins-Regular.ttf"),
}
.root{
     -fx-background-color: linear-gradient(to top right,#87CEEB, #00BFFF);
     -fx-background-radius: 5;
     -fx-border-radius: 5;
}
.container{
    -fx-background-color:  #fff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}